@import '../../../var.scss';

.why-us {
    margin-top: 200px;
    margin-left: 53px;
    border-bottom-left-radius: 40px;
    border-top-left-radius: 40px;
    background: #363636;
    transform: skewY(-8deg);
    backface-visibility: hidden;

    @media screen and (max-width: $tabel) {
        margin-left: 0;
    }

    &__container {
        padding: 120px 0 140px 0;
        transform: skewY(8deg);
        

        @media screen and (max-width: $minTabel) {
            padding: 100px 0;
        }
    }

    &__title {
        text-align: center;
        font-size: 36px;
        margin: 0 0 40px 0;
        color: #fff;

        @media screen and (max-width: $tabel) {
            font-size: 32px;
        }

        @media screen and (max-width: $phone) {
            font-size: 28px;
        }
    }

    &__wrapper {
        margin: 0 20px;

        @media screen and (max-width: $tabel) {
            margin-right: 16px;
        }

        @media screen and (max-width: $minTabel) {
            margin-right: 0px;
        }

        
        & .swiper-backface-hidden .swiper-slide {
            height: auto;
        }
    }

    & .swiper {
        max-width: 1132px;
        position: relative;
        border-radius: 35px;
        

        @media screen and (max-width: $mack) {
            max-width: 1032px;
        }

        @media screen and (max-width: $tabel) {
            max-width: 490px;
        }

        @media screen and (max-width: $minTabel) {
            max-width: 490px;
            margin-top: 0;
        }

        & .swiper-wrapper {
            padding-bottom: 55px;            
        }


        & .swiper-pagination {

            & .swiper-pagination-bullet {
                display: inline-block;
                width: 12px;
                height: 12px;
                background: rgba(250, 250, 250, 0.2);
                border-radius: 2px;
                transform: scale(1) rotate(-45deg);

                &.swiper-pagination-bullet-active {
                    background: #fff;
                }

                &:not(:last-child) {
                    margin-right: 16px;
                }
            }
        }

        .swiper-button-prev, .swiper-button-next {
            width: 40px;
            height: 40px;
            padding: 10px;
            background: rgba(210, 210, 210, 1);
            border-radius: 8px;

            @media screen and (max-width: $tabel) {
                display: none;
            }
        }

        & .swiper-button-prev {
            top: 300px;
            left: 32px;

            &::after {
                font-size: 16px;
                color: #fff;
            }
        }

        & .swiper-button-next {
            top: 300px;
            left: 88px;

            &::after {
                font-size: 16px;
                color: #fff;
            }
        }
    }

    & .why-us-item {
        position: relative;
        padding: 32px;
        border-radius: 35px;
        background: #fff;
        padding-bottom: 145px;

        @media screen and (max-width: $tabel) {
            padding: 32px 0;
        }

        & .stars {
            position: absolute;
        }

        &.coffe {
            & .element {
                width: 236.62px;
                height: 307.4px;
    
                @media screen and (max-width: $tabel) {
                    width: 240.77px;
                    height: 275.12px;
                }
    
                @media screen and (max-width: $phone) {
                    width: 191.88px;
                    height: 210.31px;
                }
            }

            & .stars {
                top: -20px;
                right: -33px;

                @media screen and (max-width: $tabel) {
                    width: 77.12px;
                    height: 119.97px;
                    top: -14px;
                    right: -30px;
                }

                @media screen and (max-width: $phone) {
                    width: 66.02px;
                    height: 106.42px;
                    top: -22px;
                    right: -20px;
                }
            }
        }

        &.eggs {
            
            & .element {
                width: 332.23px;
                height: 331.37px;

                @media screen and (max-width: $tabel) {
                    width: 300.79px;
                    height: 300.01px;
                }

                @media screen and (max-width: $phone) {
                    width: 233.71px;
                    height: 233.11px;
                }
            }

            & .stars {
                top: 5px;
                right: -15px;

                @media screen and (max-width: $phone) {
                    width: 73.15px;
                    height: 134.5px;
                    top: -40px;
                }

            }
        }

        &.fig {
            & .element {
                width: 237.55px;
                height: 353px;

                @media screen and (max-width: $tabel) {
                    width: 200.54px;
                    height: 298px;
                }

                @media screen and (max-width: $phone) {
                    width: 140.72px;
                    height: 209.11px;
                }
            }

            & .stars {
                top: 120px;
                right: -38px;

                @media screen and (max-width: $tabel) {
                    width: 101.08px;
                    height: 132.3px;
                    top: 100px;
                    right: -20px;
                }

                @media screen and (max-width: $phone) {
                    width: 55.45px;
                    height: 93.24px;
                    top: 70px;
                    right: -5px;
                }
            }
        }

        &.milk {
            & .element {
                width: 254.62px;
                height: 357.47px;

                @media screen and (max-width: $tabel) {
                    width: 195.77px;
                    height: 275.12px;
                } 

                @media screen and (max-width: $phone) {
                    width: 150.88px;
                    height: 210.31px;
                }
            }

            & .stars {
                top: 46px;
                right: -12px;

                @media screen and (max-width: $tabel) {
                    width: 56.39px;
                    height: 89.34px;
                    top: 32px;
                    right: -17px;
                }

                @media screen and (max-width: $phone) {
                    width: 35.16px;
                    height: 67.71px;
                    top: 28px;
                    right: -10px;
                }
            }
        }

        &__inner {
            @media screen and (max-width: 1023.98px) {
                display: flex;
                flex-direction: column;
            }
        }

        &__blok-img {
            position: absolute;
            top: 50%;
            right: 30px;
            transform: translateY(-50%);

            @media screen and (max-width: 1023.98px) {
                // width: 300px;
                // height: 270px;
                margin: 0 auto;
                position: relative;
                right: 0;
                top: 0;
                transform: translateY(0%);
            }

            @media screen and (max-width: $phone) {
                display: flex;
                align-items: flex-end;
                height: 215px;
            }

            & .elemet {
                width: 100%;

                @media screen and (max-width: 1023.98px) {
                    height: 100%;
                }
            }
        }

        &__discription {

            @media screen and (max-width: 1023.98px) {
                margin-top: 10px;
            }

            & .why-us-item__text {
                position: relative;
                max-width: 965px;
                padding: 24px;
                margin-bottom: 20px;
                border-radius: 20px;
                background: rgba(241, 241, 241, 1);
                z-index: -1;

                @media screen and (max-width: $mack) {
                    max-width: 840px;
                }

                @media screen and (max-width: 1023.98px) {
                    max-width: 100%;
                    border-bottom-left-radius: 0;
                    border-top-left-radius: 0;
                    margin-right: 16px;
                    padding: 16px;
                    padding-left: 24px;
                    margin-bottom: 14px;
                }

                &::after {
                    content: url('../../../imgs/svg/brackets.svg');
                    display: block;
                    position: absolute;
                    right: 200px;
                    bottom: 15px;

                    @media screen and (max-width: $tabel) {
                        right: 32px;
                        bottom: -64px;
                    }

                    @media screen and (max-width: $phone) {
                        right: 0px;
                    }
                }

                & p {
                    margin: 0;
                    max-width: 750px;

                    @media screen and (max-width: $mack) {
                        max-width: 550px;
                    }

                    @media screen and (max-width: $tabel) {
                        max-width: 100%;
                        font-size: 16px;
                    }
                }

            }
        }

        &__logo {
            display: flex;

            @media screen and (max-width: 1023.98px) {
                padding: 0 24px;
            }

            & img {
                height: 50px;
                margin-right: 12.47px;
            }
        }

        &__name {
            @media screen and (max-width: $phone) {
                margin-right: 50px;
            }

            & .name {
                font-size: 18px;
                font-family: 'Gilroy', sans-serif;

                @media screen and (max-width: $minTabel) {
                    font-size: 16px;
                }
            }

            & .sub-name {
                text-transform: uppercase;
                font-size: 12px;
                line-height: 10px;

                @media screen and (max-width: $minTabel) {
                    font-size: 10px;
                }
            }
        }
    }

    &__decor-1 {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
        transform: skewY(8deg);

        @media screen and (max-width: $mack) {
            top: -215px;
            left: -200px;
        }
    }

    &__decor-2 {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        opacity: 0.3;
        transform: skewY(8deg);

        @media screen and (max-width: 1023.98px) {

        }
    }

    &__decor-3 {
        position: absolute;
        top: 200px;
        right: 25%;
        z-index: -1;
        opacity: 0.3;
        transform: skewY(8deg);

        @media screen and (max-width: $mack) {
            left: auto;
            right: 50px;
        }
    }

    &__decor-4 {
        position: absolute;
        bottom: -50px;
        right: 0;
        z-index: -1;
        opacity: 0.3;
        transform: skewY(8deg);

        @media screen and (max-width: 1199.98px) {
            display: none;
        }
    }

}