@import '../../../var.scss';

.your-business {
    padding: 100px 0;
    position: relative;

    &__container {

    }

    &__wrapper {
        display: flex;
        align-items: center;
        position: relative;
        z-index: 1;

        @media screen and (max-width: $tabel) {
            flex-direction: column;
        }
    }


    &__title {
        position: relative;
        margin: 0;
        margin-left: 64px;
        font-size: 54px;
        font-weight: 700;
        line-height: 68px;
        font-family: "Gilroy", sans-serif;

        @media screen and (max-width: $mack) {
            font-size: 48px;
        }

        @media screen and (max-width: $minMack) {
            font-size: 44px;
            line-height: 51px;
            order: -1;
        }

        @media screen and (max-width: $tabel) {
            max-width: 415px;
            text-align: center;
            margin-bottom: 44px;
            margin-left: 0;
        }

        @media screen and (max-width: $phone) {
            max-width: 340px;
            font-size: 32px;
            line-height: 40px;
        }

        & .stars-1 {
            display: inline-block;
            width: 1px;
            height: 1px;
            position: relative;

            &::before {
                content: url('../../../imgs/svg/your-business-stars-1.svg');
                display: block;
                position: absolute;
                top: -85px;
                left: -50px;
            }   
        }

        & .stars-2 {
            display: inline-block;
            position: relative;
            height: 1px;
            width: 1px;

            &::before {
                content: url('../../../imgs/svg/your-business-stars-2.svg');
                display: block;
                position: absolute;
                bottom: -70px;
                right: -50px;
            }
        }

    }

    & .your-business-gallery {
        display: grid;
        grid-gap: 22px;
        grid-template-columns: 374px 374px;
        grid-template-rows: 300px 60px 300px;
        grid-template-areas: 
            "userOne userTwo"
            "userThree userTwo"
            "userThree userFour"
        ;

        @media screen and (max-width: $mack) {
            
        }

        @media screen and (max-width: $minMack) {
            grid-template-rows: 320px 44px 320px;
            grid-template-columns: 330px 330px;
        }

        @media screen and (max-width: $tabel) {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 300px 74px 300px;
            grid-gap: 16px;
            order: 1;
        }

        @media screen and (max-width: $phone) {
            grid-template-rows: 220px 40px 220px;
            grid-gap: 13px;
        }

        &__item {
            border-radius: 32px;
            overflow: hidden;

            @media screen and (max-width: $phone) {
                border-radius: 22px;
            }

            &.item-1 {
                grid-area: userOne;
            }

            &.item-2 {
                grid-area: userTwo;
            }

            &.item-3 {
                grid-area: userThree;
            }

            &.item-4 {
                grid-area: userFour;
            }

            & img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
        }
    }

    & .decor {
        position: absolute;
        width: 470.47px;
        height: 470.47px;  
        background: radial-gradient(95.51% 95.51% at 50% 50%, #DADADA 0%, #FAFAFA 100%);
        opacity: 0.15;
        border-radius: 43.7931px;
        transform: rotate(-45deg);

        &.one {
            top: -100px;
            right: -100px;
        } 

        &.two {
            top: 160px;
            right: -100px;
        }
    }
}