@import '../../../var.scss';

.make-collections {
    padding: 100px 0;

    @media screen and (max-width: $tabel) {
        padding: 50px 0;
    }

    &__container {
        position: relative;
    }

    &__wrapper {
        display: flex;
        align-items: center;

        @media screen and (max-width: $tabel) {
            flex-direction: column;
        }
    }

    & .block-text {
        width: 50%;
        display: flex;
        justify-content: flex-end;

        @media screen and (max-width: $tabel) {
            width: 100%;
        }

        &__inner {
            max-width: 484px;

            @media screen and (max-width: $minMack) {
                max-width: 344px;
            }

            @media screen and (max-width: $tabel) {
                max-width: 100%;
            }

            // @media screen and (max-width: 1023.98px) {
            //     max-width: 344px;
            // }
        }

        &__title {
            line-height: 53px;
            margin: 0 0 16px 0;

            @media screen and (max-width: $tabel) {
                text-align: center;
                line-height: 40px;
            }
        }

        & p {
            margin: 0;
            color: rgba(92, 92, 92, 1);
        }
    }

    & .block-img {
        width: 50%;

        @media screen and (max-width: $tabel) {
            width: 100%;
            margin-top: 180px;
            order: 1;
        }

        &__wrapper {
            width: 490.37px;
            height: 490.37px;
            position: relative;
            background: #FB242B;
            border-radius: 72px;
            transform: rotate(-45deg);

            @media screen and (max-width: $tabel) {
                margin: 0 auto;
            }

            @media screen and (max-width: $phone) {
                width: 355px;
                height: 355px;
                border-radius: 52px;
            }

            &::before {
                content: '';
                display: block;
                width: 110%;
                height: 110%;
                position: absolute;
                top: -5%;
                left: -5%;
                border-radius: 72px;
                background: rgba(251, 36, 43, 0.6);

                @media screen and (max-width: $phone) {
                    border-radius: 52px;
                }
            }
        }

        &__inner {
            transform: rotate(45deg);
        }

        &__content {
            display: flex;
        }

        &__item {
            position: absolute;

            @media screen and (max-width: $phone) {
                width: 210px;
            }

            & .app {
                width: 100%;
            }

            &.item-one {
                top: -145px;
                right: 10px;

                @media screen and (max-width: $phone) {
                    top: -95px;
                    right: 25px;
                }

                & .block-img__stars {
                    position: absolute;
                    top: -40px;
                    left: 25px;

                    @media screen and (max-width: $phone) {
                        width: 65px;
                        top: -40px;
                        left: 15px;
                    }
                }
            }

            &.item-two {
                right: -200px;
                top: 20px;

                @media screen and (max-width: $phone) {
                    right: -135px;
                    top: 0px;
                }
            }
        }

        &__decor {
            position: absolute;
            top: 220px;
            right: -95px;
            z-index: -1;

            @media screen and (max-width: $tabel) {
                top: 259px;
                right: -22px;
            }

            @media screen and (max-width: $phone) {
                width: 188px;
                top: 185px;
            }
        }
    }

    &__decor {
        position: absolute;
        top: -180px;
        right: -427px;
        width: 569.32px;
        height: 569.32px;
        background: radial-gradient(95.51% 95.51% at 50% 50%, #DADADA 0%, #FAFAFA 100%);
        opacity: 0.15;
        border-radius: 52.9944px;
        transform: rotate(-45deg);
    }
}