@import '../../../var.scss';

.score {
    padding: 120px 0;

    @media screen and (max-width: $minMack) {
        padding: 100px 0;
    }

    @media screen and (max-width: $tabel) {
        padding: 50px 0;
    }

    &__container {

    }

    &__wrapper {

    }

    & .score-header {
        display: flex;
        align-items: flex-start;
        margin-bottom: 24px;

        @media screen and (max-width: $minTabel) {
            flex-direction: column;
        }

        @media screen and (max-width: $phone) {
            margin-bottom: 77px;
        }

        &__title {
            width: 50%;
            margin: 0 66px 0 0;
            line-height: 49px;

            @media screen and (max-width: $minMack) {
                margin: 0 40px 0 0;
            }

            @media screen and (max-width: $minTabel) {
                width: 100%;
                text-align: center;
                margin: 0 0 12px 0;
            }
        }

        & p {
            width: 50%;
            margin: 0;

            @media screen and (max-width: $minTabel) {
                width: 100%;
            }
        }
    }

    & .score-banner {
        position: relative;
        height: 600px;

        @media screen and (max-width: $tabel) {
            height: 550px;
        }

        @media screen and (max-width: $phone) {
            height: 400px;
        }

        &__img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 44px;
            object-fit: cover;
            object-position: center;
        }

        & .item {
            display: flex;
            align-items: center;
            justify-content: space-between;
            position: absolute;
            background: rgba(243, 244, 245, 1);
            padding: 16px 17px;
            border-radius: 17.18px;
            z-index: 1;
            box-shadow: rgba(33, 33, 33, 0.1) 5px 3px 20px 0px;

            @media screen and (max-width: $phone) {
                padding: 11px;
            }


            & h5 {
                margin: 0;
                font-family: "Gilroy", sans-serif;
                
            }

            &.oreder {
                width: 430px;
                top: 148px;
                right: 53px;

                @media screen and (max-width: $mack) {
                    top: 70px;
                }

                @media screen and (max-width: $phone) {
                    width: 310px;
                    top: -32px;
                    right: -10px;
                }

                & .oreder__name{
                    font-size: 18px;
                    font-weight: 700;
                    line-height: 22px;

                    @media screen and (max-width: $tabel) {
                        font-size: 16px;
                    }

                    @media screen and (max-width: $phone) {
                        font-size: 12px;
                        line-height: 20px;
                    }
                }

                & .oreder__sub-name{
                    display: flex;
                    align-items: center;
                    
                    & p {
                        margin: 0;
                        line-height: 14px;
    
                        & spam {
                            font-size: 12px;

                            @media screen and (max-width: $phone) {
                                font-size: 8px;
                            }
    
                            &:first-child {
                                margin-right: 6px;
                                color: rgba(92, 92, 92, 1);
                            }    
                        }
                    }

                    & svg {
                        display: inline-block;
                        margin-left: 3px;
                        width: 7.32px;
                        height: 3.66px;

                        @media screen and (max-width: $phone) {
                            width: 5.5px;
                            height: 2.75px;
                        }
                    }
                }

                & .oreder__btn {
                    max-width: 107px;
                    padding: 8px 16px;
                    font-size: 12px;
                    background: transparent;
                    border: 1px solid rgba(210, 210, 210, 1);
                    border-radius: 13px;

                    @media screen and (max-width: $phone) {
                        position: relative;
                        right: -20px;
                        width: 97px;
                        font-size: 8px;
                        padding: 6px 11px;
                    }
                }

                & .line-1 {
                    position: absolute;
                    bottom: -6px;
                    left: 74px;
                    transform: translateY(100%);

                    @media screen and (max-width: $bigScreann) {
                        bottom: 10px;
                        left: 30px;
                    }

                    @media screen and (max-width: $minMack) {
                        bottom: 0px;
                        left: 99px;
                    }

                    @media screen and (max-width: $phone) {
                        left: 100px;
                        bottom: -5px;
                    }

                    @media screen and (max-width: 369.98px) {
                        bottom: 5px;
                    }
                }

                & .line-2 {
                    position: absolute;
                    bottom: 25px;
                    right: 60px;
                    transform: translateY(100%);

                    @media screen and (max-width: $phone) {
                        bottom: 10px;
                    }
                }
            }

            &.reminders {
                width: 205px;
                top: 270px;
                right: -24px;

                @media screen and (max-width: $mack) {
                    top: 190px;
                }

                @media screen and (max-width: $tabel) {
                    right: -8px;
                }

                @media screen and (max-width: $phone) {
                    width: 141px;
                    top: 80px;
                }

                & .reminders__inner {
                    display: flex;
                    align-items: center;

                    & svg {
                        display: block;
                        width: 18px;
                        height: 17px;
                        margin-right: 10px;

                        @media screen and (max-width: $phone) {
                            width: 12px;
                            height: 12px;
                        }
                    }

                    & p {
                        margin: 0;
                        font-size: 14px;
                        line-height: 16px;

                        @media screen and (max-width: $phone) {
                            font-size: 9px;
                        }
                    }
                    
                }

                & svg.mark {
                    width: 15px;
                    height: 15px;

                    @media screen and (max-width: $phone) {
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }
}